.App{
  margin: 2em;
}

.RiskContainer {
  display: flex;
}

.Risk{
margin: 13px;
height: 58px;
width: 215px;
border-radius: 15px;
display: flex;
justify-content: center;
font-size: 24px;
font-family: 'Arimo', sans-serif;
}

.Positive{
  background-color: #13205F;
  color: white;
  border-color: #13205F;
  border-style: solid;
}

.Negative{
  border-color: #7D85AF;
  color: #13205F;
  border-style: solid;
}

.Risk p {
  margin: 0;
  align-self: center;
}

.App h1 {
  font-family: 'Noto Sans JP', sans-serif;
  color: #13205F;
}